* {
    box-sizing: border-box;
    font-family: Arial;
}

a:link { 
    color: rgb(0, 0, 153)
}

a:visited { 
    color: rgb(153, 0, 153)
}

a:hover { 
    color: rgb(0, 96, 255)
}

a:active { 
    color: rgb(255, 0, 102)
}

#top{
    background-image: url("../Images/Seneca Cruise 08.jpg");
    background-attachment: local;
    color: white;
    background-size: 100% 100%;
}

#Home, #Github, #Vimeo, #Blog, #Contact{
    padding: 5px;
    background-color: #6666ff;
    border-radius: 10px;
    margin: 1%;
    width: 18%;
}

.blogpost{
    margin: 15px;
    
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 5px;
}

body {
    background-image: radial-gradient(circle, #1563d8, #007ddc, #0090cd, #009eb7, #26a8a2);
}

#posts {
    background-color: white;
}